# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
climbing_analysis/models/glm.py
.env
mysql_data/
.secrets/
__pycache__/
*.pyc
*.egg-info
.pytest_cache/
.idea/