# Default ignored files
/shelf/
/workspace.xml

# Editor-based HTTP Client requests
/httpRequests/

# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
neurokinematics/models/glm.py
.env
mysql_data/
.secrets/
__pycache__/
tests/__pycache__
*.pyc
.pytest_cache/
.idea/

# Pkg info
neurokinematics.egg-info/
climbing_analysis.egg-info/

# Data folders/files
sample_oephys_data/
sko109120_baseline_stances.pkl
sko109120_baseline_pose.csv

# experimental
neurokinematics/state_space_analysis/
neurokinematics/distributed/
neurokinematics/models/
aws/

# datajoint
#neurokinematics/schema.py
#dj_config.py